---
layout: page
title: Notes
---

{% include lang.html %}

{% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}
{% assign df_dayjs_m = site.data.locales[lang].df.archives.dayjs | default: '/ MM' %}

<!-- <p>Would soon start adding notes here....</p> -->


<div class="pl-xl-3">
  {% for note in site.notes reversed %}
    {% assign cur_year = note.date | date: '%Y' %}

    {% if cur_year != last_year %}
      {% unless forloop.first %}</ul>{% endunless %}

      <time class="year lead d-block">{{ cur_year }}</time>
      {{ '<ul class="list-unstyled">' }}

      {% assign last_year = cur_year %}
    {% endif %}

    <li>
      {% assign ts = note.date | date: '%s' %}
      <span class="date day" data-ts="{{ ts }}" data-df="DD">{{ note.date | date: '%d' }}</span>
      <span class="date month small text-muted ms-1" data-ts="{{ ts }}" data-df="{{ df_dayjs_m }}">
        {{ note.date | date: df_strftime_m }}
      </span>
      &nbsp;&nbsp;<a href="{{ note.url | relative_url }}">{{ note.title }}</a>
    </li>

    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</div>
<p>Access my previous writeups <a href="https://an0nyr0y.notion.site/Cybersecurity-Writeups-d60b1c7a51cc4dc4bffe995a57e34bf3?pvs=4"> here</a></p>



 <!-- ---
layout: page
title: Notes
---

{% include lang.html %}

<div id="notes" class="pl-xl-3">
  {% for note in site.notes reversed %}
    <h2><a href="{{ note.url | relative_url }}">{{ note.title }}</a></h2>
    <p>{{ note.date | date: "%B %d, %Y" }}</p>
    <p>{{ note.content | truncatewords: 50 }}</p>
  {% endfor %}
</div> -->


